.panel(ng-controller='TownCtr as vm')
    .panel-heading.text-bold 商圈信息表
    .panel-body.newPanel
        .selectedBox.row
            .item-content.divBox.col-md-2(id="region")
                ui-select(ng-model="vm.regiongAsync.selected" theme="bootstrap" on-select="vm.onSelectCallback($item)"  title="请选择区域")
                    ui-select-match(placeholder="请选择区域") {{$select.selected.name || $select.selected}}
                    ui-select-choices(repeat="region.name as region in vm.regiongAsync | propsFilter: {name: $select.search,pinyin: $select.search,code: $select.search}")
                        div(ng-bind-html="region.name")
                        small
                            | 区域名称：
                            span(ng-bind-html="'' + region.code | highlight: $select.search")
            .item-content.divBox.col-md-2(id="town")
                ui-select(ng-model="vm.TownAsync.selected" theme="bootstrap" on-select="vm.onSelectCallbackTown($item)"  title="请选择商圈")
                    ui-select-match(placeholder="请选择商圈") {{$select.selected.name || $select.selected}}
                    ui-select-choices(repeat="twon.name as twon in vm.TownAsync | propsFilter: {name: $select.search,rcode: $select.search}")
                        div(ng-bind-html="twon.name| highlight: $select.search")
                        small
                            | 商圈名称：
                            span(ng-bind-html="'' + twon.rcode | highlight: $select.search")
            .item-content.divBox.col-md-2
                button.btn.btn-primary.btn-sm(type="button" ng-click="vm.readRecords(0)") 搜索
                utton.btn.btn-sm.btn-danger(type="button" ng-click="vm.clearAndRefresh()" ng-disabled="vm.regiongAsync.selected == '' && vm.TownAsync.selected == ''") 重置
        table.row-bordered.hover.table-striped.table-responsive(datatable="ng" dt-options="vm.dtOptions" dt-column-defs="vm.dtColumnDefs")
            thead
                tr
                    th 序列号
                    th 商圈代码
                    th 商圈名称
                    th 行政区
                    th 编辑
            tbody
                tr(ng-repeat="town in vm.town track by town.id")
                    td {{:: town.number }}
                    td {{:: town.code }}
                    td {{:: town.name }}
                    td {{:: town.rname }}
                    td
                        button.btn.btn-sm.btn-warning(type='button', ng-click='vm.modifyTown(town)') 修改
                            em.fa.fa-edit
                        button.btn.btn-sm.btn-danger(type='button', ng-click='vm.deleteTown(town)') 删除
                            em.fa.fa-trash-o
        .ui-grid-next
            button.btn.btn-primary.btn-sm(type="button" ng-click="vm.readRecords(0)" id="firstPageBtn") 首页
            button.btn.btn-primary.btn-sm(type="button" ng-click="vm.readRecords(1)" id="previousPageBtn") 上一页
            button.btn.btn-primary.btn-sm(type="button"  ng-click="vm.readRecords(2)" id="nextPageBtn") 下一页
            button.btn.btn-primary.btn-sm(type="button"  ng-click="vm.readRecords(3)" id="lastPageBtn") 末页
    .panel-footer
        button.btn.btn-labeled.btn-primary(type='submit' ng-click="vm.addTown()")
            span.btn-label
                em.fa.fa-plus
            | 商圈信息录入
    script(type="text/ng-template" id="deleteTown.html")
        .modal-header
            button(type="button",class="close",ng-click="vm.cancel()",data-dismiss="modal",aria-hidden="true") &times;
            h4.modal-title 删除?
        .modal-body
            p.text-bold 你确定要删除该商圈吗？
        .modal-footer
            button.btn.btn-default(type="button",ng-click="vm.cancel()",data-dismiss="modal") 取消
            button.btn.btn-danger(type="button",ng-click="vm.deleteTown()",data-dismiss="modal") 确认
