.panel(ng-controller='accountVerifyController as vm')
    .panel-heading 用户管理
    .panel-body
        //- .container-fluid.ui-container(id="container")
        //-     .container-fluid.ui-content.fn-clear
        //-         .ui-grid-25
        //-             .record-search-form.record-search-max.limit-width(id="topSearchForm")
        //-                 .row
        //-                     .col-md-5.col-sm-7
        //-                         label.text-bold.col-md-4(style="line-height:34px;text-align:center;") 按用户查找：
        //-                         .col-md-8
        //-                             ui-select(ng-model="vm.roleAsync.selected" theme="bootstrap" ng-disable='vm.disable' on-select="vm.onSelectCallback($item)" title="请选择用户")
        //-                                 ui-select-match(placeholder="请选择需要查找的用户") {{$select.selected.username || $select.selected}}
        //-                                 ui-select-choices(repeat="role.username as role in vm.roleAsync | propsFilter: {username: $select.search}")
        //-                                     div(ng-bind-html="role.username")
        //-                     .col-md-7.col-sm-5
        //-                         .item-content
        //-                             button.btn.btn-primary.btn-sm(type="button" ng-click="vm.searchUsers()") 点击搜索
        //-                             button.btn.btn-danger(ng-click="vm.clearAndRefresh()"  ng-disabled="vm.OrganmanAsync.selected == ''" type="button") 重置
        table.row-bordered.hover.table-striped.table-responsive(datatable='ng',dt-options='vm.dtOptions',dt-column-defs='vm.dtColumnDefs')
            thead
                tr
                    th 序号
                    th 用户名
                    th 手机号
                    th 账号名
                    th 名下停车场
                    th 创建时间
                    th 操作
            tbody
                tr(ng-repeat='user in vm.users track by $index')
                    td {{user.id}}
                    td {{:: user.username}}
                    td {{:: user.phone_number}}
                    td {{:: user.account_name}}
                    td {{:: user.parklot_name}}
                    td {{:: user.create_time}}
                    td
                        button.btn.btn-sm.btn-primary(type='button', ng-click='vm.verifyAccount(user)' ng-if="!user.pro_status")
                            em.fa.fa-edit-o 审核
                        button.btn.btn-sm.btn-default(type='button', disabled="disabled", ng-if="user.pro_status")
                            em.fa.fa-edit-o 已审核
        .ui-grid-next(style="bottom:-40px;")
           
            button.btn.btn-primary.btn-sm(type="button" ng-click="vm.querylists(0)" ng-disabled="vm.queryParams.page_num == 1") 首页
            button.btn.btn-primary.btn-sm(type="button" ng-click="vm.querylists(1)" ng-disabled="vm.queryParams.page_num == 1") 上一页
            button.btn.btn-primary.btn-sm(type="button"  ng-click="vm.querylists(2)" ng-disabled="vm.queryParams.page_num == vm.pageCount") 下一页
            button.btn.btn-primary.btn-sm(type="button"  ng-click="vm.querylists(3)" ng-disabled="vm.queryParams.page_num == vm.pageCount") 末页
p
    small 如发现数据不合理之处，请联系
        a(href="www.cszhjt.com") {{ :: app.name }} 