// top navbar
header.header-new.wrapper1(ng-include="'app/views/app/app-next.html'")

// sidebar
aside.aside(ng-include="'app/views/partials/sidebar.html'", ng-controller="SidebarController")

// offsidebar
aside.offsidebar(ng-include="'app/views/partials/offsidebar.html'")
