.panel.panel-dark.container-fluid(ng-controller="OfflineBillDetailController as vm")
    .panel-heading 线下缴费账单
        button.btn.btn-link(type="button" ng-click="vm.toggleMenu()") 高级搜索 >>
    .panel-body
        .container-fluid.ui-container(id="container")
            div.container-fluid.ui-content.fn-clear
                div.ui-grid-25.container-fluid
                    div.record-search-form.record-search-max.limit-width(id="topSearchForm" ng-show="vm.menuState.show")
                        .form-group.form-horizontal.form-inline
                            div.container-fluid
                                label.item-label.text-bold(style="font-size:13px;") 起止日期：
                                div.item-content
                                    div.dropdown.form-group
                                        a.dropdown-toggle(id="dropdownStart" role="button" data-toggle="dropdown" )
                                            div.input-group.date
                                                input.form-control(type="text" data-ng-model="vm.dateRangeStart" data-date-time-input="YYYY-MM-DD" disabled)
                                                span.input-group-addon
                                                    i.fa.fa-calendar
                                        ul.dropdown-menu(role="menu" aria-labelledby="dLabel")
                                            datetimepicker(data-ng-model="vm.dateRangeStart" data-datetimepicker-config="{dropdownSelector: '#dropdownStart', renderOn: 'end-date-changed'}"
                                            data-on-set-time="vm.startDateOnSetTime()" data-before-render="vm.startDateBeforeRender($dates)")
                                    span.ui-separator-pd -
                                    div.dropdown.form-group
                                        a.dropdown-toggle(id="dropdownEnd" role="button" data-toggle="dropdown")
                                            div.input-group.date
                                                input.form-control(type="text" data-ng-model="vm.dateRangeEnd" data-date-time-input="YYYY-MM-DD" disabled)
                                                span.input-group-addon
                                                    i.fa.fa-calendar
                                        ul.dropdown-menu(role="menu" aria-labelledby="dLabel")
                                            datetimepicker(data-ng-model="vm.dateRangeEnd" data-datetimepicker-config="{dropdownSelector: '#dropdownEnd', renderOn: 'start-date-changed'}"
                                            data-on-set-time="vm.endDateOnSetTime()" data-before-render="vm.endDateBeforeRender($view, $dates, $leftDate, $upDate, $rightDate)")
                                div.quick-link-date.fn-left
                                    span.item-text.fn-left(style="font-size:15px;margin-right:5px;") 最近:
                                    a.item.fn-left.select 1周
                                    a.item.fn-left 1个月
                                    a.item.fn-left 6个月
                        .form-group.form-horizontal
                            div.container-fluid
                                label.item-label.text-bold 选择停车场：
                                div.item-content
                                    ui-select(ng-model="vm.parkingAsync.selected" theme="bootstrap" ng-disable='vm.disable' on-select="vm.onSelectCallback($item)"  style="width: 300px;" title="请选择停车场")
                                        ui-select-match(placeholder="请选择要上传的停车场") {{$select.selected.name || $select.selected}}
                                        ui-select-choices(repeat="parking.name as parking in vm.parkingAsync | propsFilter: {name: $select.search, address: $select.search}")
                                            div(ng-bind-html="parking.name | highlight: $select.search")
                                            small
                                                | 停车场地址：
                                                span(ng-bind-html="'' + parking.address | highlight: vm.$select.search")
                                p(style="color:red") * 必须选择停车场才能进行查找, 可在输入框直接输入停车场关键字进行查找
                        .form-group.form-horizontal.row
                            div.col-xs-3
                                button.btn.btn-primary.btn-sm(ng-click="vm.SearchBillDetail()") 点击搜索
                    //table.row-bordered.hover.table-striped.table-responsive(datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" dt-instance="dtInstance")
                    div.grid.table-responsive(ui-grid="vm.gridOptions" style="width:100%;height:650px;" ui-grid-selection ui-grid-pagination ui-grid-pinning  ui-grid-resize-columns ui-grid-exporter  ui-grid-auto-resize )
                        //thead
                        //    tr
                        //        th 停车场编号
                        //        th 缴费时间
                        //        th 车牌号
                        //        th 缴费停车场
                        //        th 金额|明细
                        //        th 操作
                        //tbody
                        //    tr(ng-repeat="bill in appBills track by $index")
                        //        th {{ ::bill.id }}
                        //        th {{ ::bill.payment_time }}
                        //        th {{ ::bill.plate_number }}
                        //        th {{ ::bill.parking_lot }}
                        //        th {{ ::bill.amount/100 }} 元
                        //        th
                        //            button.btn.btn-sm.btn-warning(type='button', ng-click='modifyParking(bill)')
                        //                em.fa.fa-search 查看详情
                        //tfoot
                        //    tr
                        //        th 缴费总额：
                        //        th
                        //        th
                        //        th
                        //        th(style="color:red;") {{::totalfee/100}} 元
                        //        th