.panel(ng-controller='parkStateController as vm')
    .panel-heading.text-bold 上传工具状态检测
        //span 当前页上传工具在线数 不在线数
    .panel-body
        .selectedBox.row
            .item-content.divBox.col-md-2
                ui-select(ng-model="vm.parkingAsync.selected" theme="bootstrap" ng-disable='vm.disable' on-select="vm.onSelectCallback($item)" title="请选择停车场")
                    ui-select-match(placeholder="请选择要查找的停车场") {{$select.selected.name || $select.selected}}
                    ui-select-choices(repeat="parking.name as parking in vm.parkingAsync | propsFilter: {name: $select.search, address: $select.search}")
                        div(ng-bind-html="parking.name | highlight: $select.search")
                        small
                            | 停车场地址：
                            span(ng-bind-html="'' + parking.address | highlight: $select.search")
            .item-content.divBox.col-md-2
                button.btn.btn-primary.btn-sm(type="button" ng-click="vm.reseach()") 搜索
                button.btn.btn-sm.btn-danger(type="button" ng-click="vm.clearAndRefresh()" ng-disabled="vm.parkingAsync.selected == null && vm.coupon.valid_begintime == null && vm.coupon.valid_endtime == null") 重置
        div(style="display:inline-block;width:48%;height:92%;margin-right:1%;")
            div(style="background:#0171c8;color:#fff;line-height:45px;width:100%;text-align:center;font-size: 16px;font-weight: bold;") 上传工具在线停车场
                span(style="float:right;margin-right:10px") 在线总数:{{vm.sum}}
            table.row-bordered.hover.table-striped.table-responsive(datatable="ng" dt-options="vm.dtOptions" dt-column-defs="vm.dtColumnDefs" style="table-layout: fixed")
                thead
                    tr
                        th 序列号
                        th 停车场名称
                        th 停车场地址
                        th 接入与否
                tbody
                    tr(ng-repeat="(index,tool_online_num) in vm.tool_online_num")
                        td {{(index+1)}}
                        td(style="width:100px; word-break:keep-all;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;" ng-click="vm.mouseeters($event)" ) {{ tool_online_num.parklot_name }}
                        td(style="width:100px; word-break:keep-all;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;" ng-click="vm.mouseeters($event)" ) {{ tool_online_num.parklot_address }}
                        td {{ tool_online_num.htttpName }}
        .ui-grid-next(id="leftbtn" style="left:27px;bottom:-14px")
            button.btn.btn-primary.btn-sm(type="button" ng-click="vm.leftRecords(0)" id="firstPageBtn1" disabled) 首页
            button.btn.btn-primary.btn-sm(type="button" ng-click="vm.leftRecords(1)" id="previousPageBtn2" disabled) 上一页
            button.btn.btn-primary.btn-sm(type="button"  ng-click="vm.leftRecords(2)" id="nextPageBtn3" disabled) 下一页
            button.btn.btn-primary.btn-sm(type="button"  ng-click="vm.leftRecords(3)" id="lastPageBtn4" disabled) 末页
        div(style="display:inline-block;width:48%;height:92%;margin-left:1%;")
            div(style="background:#0171c8;color:#fff;line-height:45px;width:100%;text-align:center;font-weight: bold;font-size: 16px;") 上传工具不在线停车场
            table.row-bordered.hover.table-striped.table-responsive(datatable="ng" dt-options="vm.dtOptions" dt-column-defs="vm.dtColumnDefs" style="table-layout: fixed")
                thead
                    tr
                        th 序列号
                        th 停车场名称
                        th 停车场地址
                        th 接入与否
                tbody(id="scrollDistance")
                    tr(ng-repeat="tool_offline_num in vm.tool_offline_num track by tool_offline_num.parklot_id")
                        td {{:: tool_offline_num.number }}
                        td(style="width:100px; word-break:keep-all;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;" ng-click="vm.mouseeters($event)" ) {{:: tool_offline_num.parklot_name }}
                        td(style="width:100px; word-break:keep-all;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;" ng-click="vm.mouseeters($event)" ) {{:: tool_offline_num.parklot_address }}
                        td {{:: tool_offline_num.htttpName }}
        .ui-grid-next
            button.btn.btn-primary.btn-sm(type="button" ng-click="vm.readRecords(0)" id="firstPageBtn") 首页
            button.btn.btn-primary.btn-sm(type="button" ng-click="vm.readRecords(1)" id="previousPageBtn") 上一页
            button.btn.btn-primary.btn-sm(type="button"  ng-click="vm.readRecords(2)" id="nextPageBtn") 下一页
            button.btn.btn-primary.btn-sm(type="button"  ng-click="vm.readRecords(3)" id="lastPageBtn") 末页