.panel(ng-controller="AddCollectorController as vm")
    .panel-heading.text-bold 添加用户
    .panel-body
        form(enctype="multipart/data" method="post" id="user_form" name="registerForm" novalidate)
            p.text-info 提示： 先输入用户账号密码进行注册，然后，才能编辑用户进行更多操作.
                fieldset.module.aligned(style="padding:20px 100px")
                    .row.field-username.form-group
                            label.required.col-md-3(for="id_username") 用户名
                            input.vTextField(id="id_username" autocomplete="off" autofocus ng-maxlength="11" name="staffname" type="text" ng-model="vm.collector.name" placeholder="请输入手机号..." ng-keyup="$event.keyCode == 13 && vm.hasBindPhone()"  required)
                            span(ng-if="!vm.hasBind") * 输入手机号后回车查询
                            span(ng-if="vm.hasBind" class="text-info") 该手机号已存在无需再次输入密码，请直接添加
                            span(style="color:red" ng-show="registerForm.staffname.$invalid")
                                span(ng-show="registerForm.staffname == null") * 用户名不能为空
                    .row.field-password.form-group(ng-if="!vm.hasBind" )
                            label.required.col-md-3(for="id_password") 密码
                            input.vTextField(id="id_password" autocomplete="off" autofocus ng-minlength="6" ng-maxlength="20"  name="pwd" type="password" ng-model="vm.collector.password" placeholder="请输入密码……"  required)
                            span(style="color:red" ng-show="registerForm.pwd.$invalid")
                                span(ng-show="registerForm.pwd.$error.minlength") * 密码长度小于6
                                span(ng-show="registerForm.pwd.$error.maxlength") * 密码长度大于20
                    .row.field-password-confirm.form-group(ng-if="!vm.hasBind" )
                            label.required.col-md-3(for="id_password_confirm") 确认密码
                            input.vTextField(id="id_password_confirm"  name="password_confirm" type="password" ng-model="vm.collector.password_confirm"  placeholder="请再次输入密码……" required)
                            span(style="color:red" ng-show="registerForm.password_confirm.$valid")
                            span(style="color:red" ng-show="collector.password != collector.password_confirm") * 两次密码输入不一致
    .panel-footer
        input.btn.btn-primary.pull-right(ng-if="!vm.hasBind" type="submit" value="保存"  name="_save" ng-disabled="registerForm.staffname.$invalid || registerForm.pwd.$invalid || vm.collector.password != vm.collector.password_confirm" ng-click="vm.addCollector()")
        input.btn.btn-primary.pull-right(ng-if="vm.hasBind" type="submit" value="保存"  name="_save" ng-disabled="registerForm.staffname.$invalid" ng-click="vm.addCollector()")
        button.btn.btn-danger(type="button" ng-click= "vm.backToPrevious()") 返回上一级
       