.panel(ng-controller='CollectorManageController as vm')
    .panel-heading 用户管理
    .panel-body
        .container-fluid.ui-container(id="container")
            .container-fluid.ui-content.fn-clear
                .ui-grid-25
                    .record-search-form.record-search-max.limit-width(id="topSearchForm")
                        .row
                            .col-md-5.col-sm-7
                                label.text-bold.col-md-4(style="line-height:34px;text-align:center;") 按用户查找：
                                .col-md-8
                                    ui-select(ng-model="vm.roleAsync.selected" theme="bootstrap" ng-disable='vm.disable' on-select="vm.onSelectCallback($item)" title="请选择用户")
                                        ui-select-match(placeholder="请选择需要查找的用户") {{$select.selected.username || $select.selected}}
                                        ui-select-choices(repeat="role.username as role in vm.roleAsync | propsFilter: {username: $select.search}")
                                            div(ng-bind-html="role.username")
                            .col-md-7.col-sm-5
                                .item-content
                                    button.btn.btn-primary.btn-sm(type="button" ng-click="vm.searchUsers()") 点击搜索
                                    button.btn.btn-labeled.btn-primary(type='submit' ng-click="vm.addNewUser()")
                                        span.btn-label
                                            em.fa.fa-plus
                                        | 新增用户
                                    button.btn.btn-danger(ng-click="vm.clearAndRefresh()"  ng-disabled="vm.OrganmanAsync.selected == ''" type="button") 重置
        table.row-bordered.hover.table-striped.table-responsive(datatable='ng',dt-options='vm.dtOptions',dt-column-defs='vm.dtColumnDefs')
            thead
                tr
                    th 序号
                    th 昵称
                    th 真实姓名
                    th 注册时间
                    th 上一次登录时间
                    th 邮箱
                    th 操作
            tbody
                tr(ng-repeat='user in vm.users track by $index')
                    td
                        button.btn.btn-link(type="button" ng-click="vm.queryCollectorDetail(user)") {{user.id}}
                    td {{:: user.username}}
                    td {{:: user.realname}}
                    td {{:: user.date_joined}}
                    td {{:: user.last_login}}
                    td {{:: user.email}}
                    td
                        button.btn.btn-sm.btn-warning(type='button',ng-click='vm.queryCollectorDetail(user)')
                            em.fa.fa-edit 修改
                        button.btn.btn-sm.btn-danger(type='button', ng-click='vm.deleteCollector(user)' ng-if="user.display == 0")
                            em.fa.fa-trash-o 离职
                        button.btn.btn-sm.btn-default(type='button', disabled="disabled", ng-if="user.display == 1")
                            em.fa.fa-trash-o 离职
        .ui-grid-next(style="bottom:-40px;")
            button.btn.btn-primary.btn-sm(type="button" ng-click="vm.queryCollectors(0)" ng-disabled="!vm.queryParams.maxId") 首页
            button.btn.btn-primary.btn-sm(type="button" ng-click="vm.queryCollectors(1)" ng-disabled="!vm.queryParams.maxId") 上一页
            button.btn.btn-primary.btn-sm(type="button"  ng-click="vm.queryCollectors(2)" ng-disabled="!vm.queryParams.minId") 下一页
            button.btn.btn-primary.btn-sm(type="button"  ng-click="vm.queryCollectors(3)" ng-disabled="!vm.queryParams.minId") 末页
p
    small 如发现数据不合理之处，请联系
        a(href="www.cszhjt.com") {{ :: app.name }} 