.panel.container-fluid(ng-controller="analysisOrganController as vm")
    .panel-heading.text-bold 组织机构报表
    .panel-body
        .selectedBox.row(id="topSearchForm")
            .form-horizontal.col-md-2
                .container-fluid
                    .item-content.analysis-padding
                        ui-select(ng-init="vm.OrganmanAsync.selected" ng-model="vm.OrganmanAsync.selected" theme="bootstrap" on-select="vm.onSelectCallbackOrganman($item)" title="请选择停车场所有人")
                            ui-select-match(placeholder="请选择停车场所有人") {{$select.selected.orgname || $select.selected}}
                            ui-select-choices(repeat="Organman.orgname as Organman in vm.OrganmanAsync | propsFilter: {orgname: $select.search}")
                                div(ng-bind-html="Organman.orgname")
            .form-group.form-horizontal.col-md-2
                .container-fluid
                    .item-content.analysis-padding
                        .dropdown
                            a.dropdown-toggle(id="valid_begintime" role="button" data-toggle="dropdown" )
                                .input-group.date
                                    input.form-control(type="text" data-ng-model="vm.coupon.valid_begintime" data-date-time-input="YYYY-MM-DD" disabled style="background:#fff;" placeholder="请选择起始时间")
                                    span.input-group-addon(style="background:#fff;")
                                        i.fa.fa-calendar
                            ul.dropdown-menu(role="menu" aria-labelledby="dLabel")
                                datetimepicker(data-ng-model="vm.coupon.valid_begintime" data-datetimepicker-config="{dropdownSelector: '#valid_begintime', renderOn: 'end-date-changed',minView:'day'}"
                                data-on-set-time="vm.startDateOnSetTime()" data-before-render="vm.startDateBeforeRender($dates)")
            .form-group.form-horizontal.col-md-2
                .container-fluid
                    .dropdown.analysis-padding
                        a.dropdown-toggle(id="valid_endtime" role="button" data-toggle="dropdown" )
                            .input-group.date
                                input.form-control(type="text" data-ng-model="vm.coupon.valid_endtime" data-date-time-input="YYYY-MM-DD" disabled style="background:#fff;" placeholder="请选择结束时间")
                                span.input-group-addon(style="background:#fff;")
                                    i.fa.fa-calendar
                        ul.dropdown-menu(role="menu" aria-labelledby="dLabel")
                            datetimepicker(data-ng-model="vm.coupon.valid_endtime" data-datetimepicker-config="{dropdownSelector: '#valid_endtime', renderOn: 'end-date-changed',minView:'day'}"
                            data-on-set-time="vm.endDateOnSetTime()" data-before-render="vm.startDateBeforeRender($dates)")
            .form-horizontal.col-md-2
                .container-fluid
                    .dropdown.analysis-padding
                        select.form-control( id="time_type" ng-model="vm.time_type")
                            option(value="") 请选择时间类型
                            option(value="day") 日
                            option(value="month") 月
                            option(value="year") 年
            .form-group.form-horizontal.col-md-2
                button.btn.btn-primary.btn-sm(ng-click="vm.searchRecords()") 搜索
                button.btn.btn-sm.btn-danger(type="button" ng-click="vm.clearAndRefresh()" ng-disabled="vm.TownAsync.selected == null") 重置
                button.btn.btn-sm.btn-info(type="button" ng-click="vm.changeBtn()" ng-if="vm.display") 切换
        div(ng-show="!vm.vehicleIn" style="height: 100%;")
            table.row-bordered.hover.table-striped.table-responsive(datatable="ng" dt-options="vm.dtOptions" dt-column-defs="vm.dtColumnDefs")
                thead
                    tr
                        th 序列
                        th 账户应收入(元)
                        th 账户实际收入(元)
                        th 优惠金额(元)
                        th 欠费金额(元)
                        th 微信实际收入金额(元)
                        th 支付宝实际收入金额(元)
                        th APP实际收入金额
                        th 时间
                tbody
                    tr(ng-repeat="account_data in vm.account_data track by account_data.id")
                        td {{:: account_data.id }}
                        td {{:: account_data.should_sum/100 }}
                        td {{:: account_data.actual_sum/100 }}
                        td {{:: account_data.coupon_sum/100 }}
                        td {{:: account_data.arrears_sum/100 }}
                        td {{:: account_data.wechat_actual_sum/100 }}
                        td {{:: account_data.ali_actual_sum/100 }}
                        td {{:: account_data.app_actual_sum/100 }}
                        td
                            span(ng-if="account_data.time == 'all'") 全部
                            span(ng-if="account_data.time !== 'all'") {{:: account_data.time }}
        .row.analysis-chart(ng-show="vm.vehicleIn")
            .park-chart(id="accountChart" style="min-width:400px;height:400px")
        .ui-grid-next(ng-show="!vm.vehicleIn")
            button.btn.btn-primary.btn-sm(type="button" ng-click="vm.loadFistPage()" id="firstPageBtn") 首页
            button.btn.btn-primary.btn-sm(type="button" ng-click="vm.loadPreviousPage()" id="previousPageBtn") 上一页
            button.btn.btn-primary.btn-sm(type="button"  ng-click="vm.loadNextPage()" id="nextPageBtn") 下一页
            button.btn.btn-primary.btn-sm(type="button"  ng-click="vm.loadLastPage()" id="lastPageBtn") 末页

    .panel-footer
        p
            small 如发现数据不合理之处，请联系
                a(href="www.cszhjt.com") {{ app.name }}
