.panel.panel-default.container-fluid(ng-controller='AddGroupController as vm')
    .panel-heading 添加群组
    .panel-body
        form(enctype="multipart/form-data" method="post" id="add_role_form" name="addRoleForm" novalidate)
            p.text-info 提示： 目前添加的群组是有限制等，仅支持添加服务器允许的几个群组。
            fieldset.module.aligned
                div.form-row.filed-name
                    div
                        label.required(for="id_name") 名称
                        input.vTextField(id="id_name" ng-maxlength="80" name="role_name" ng-model="vm.name" type="text" required)
                        span(style="color:red" ng-show="addRoleForm.role_name.$invalid")
                            span(ng-show="addRoleForm.role_name == null") * 群组名称不能为空！
                            span(ng-show="addRoleForm.role_name.maxlength") * 群组名称超出长度限制！
                div.form-row.filed-permissions
                    div
                        label(for="id_permissions") 可选权限
                        div.related-widget-wrapper(id="id_permissions")
                            div.selector
                                div.selector-available
                                    h2 可选权限
                                    p.selector-filter(id="id_permission_filter")
                                        label(for="id_permissions_input")
                                            span.help-tooltip.search-label-icon(title="点击此处可以进行查找")
                                        input(type="text" placeholder="检索" id="id_permissions_input" ng-model="searchText")
                                    select.filtered(multiple="multiple" ng-change="vm.OnAvailableChange()" ng-model="vm.SelectedAvailItems" ng-options="i as i.permname for i in vm.AvailableListItems | orderBy:'email'")
                                    a.selector-chooseall.active(title="点击选择所有的权限" ng-click="vm.btnAllRight()") 全选
                                ul.selector-chooser
                                    li
                                        a.selector-add.active(title="选择"  ng-click="vm.btnRight()")
                                        a.selector-remove.active(title="移除"  ng-click="vm.btnLeft()")
                                div.selector-chosen
                                    h2 已选权限
                                        span.help.help-tooltip.help-icon(title="这是目前已选择的权限，你可以选择移除某些已有的权限")
                                    select.filtered(multiple="multiple"  id="id_permissions_to"  ng-model="vm.SelectedSelectedListItems" ng-options="i as i.permname for i  in vm.SelectedListItems | orderBy:'email'")
                                    a.selector-clearall.active(title="点击移除全部已有权限" ng-click="vm.btnAllLeft()") 全部移除
                            p.help.text-info  Windows下按住‘Ctrl’键，Mac下按住‘Command’键，可以选择多个.
        div.submit-row
            input.default(type="submit" value="保存" name="_save" ng-click="vm.addRoleGroup()" ng-disabled="addRoleForm.role_name.$invalid")
            input(type="submit" value="保存并添加另一个" name="_addanother" ng-disabled="addRoleForm.role_name.$invalid")
            input(type="submit" value="保存并完成编辑" name="_continue" ng-disabled="addRoleForm.role_name.$invalid")
