.panel(ng-controller="ModifyCommunityCtr as vm")
    .panel-heading.text-bold 修改社区信息
    .panel-body.row
        form.form-horizontal(style="padding: 130px 130px 0 130px;")
            .form-group.col-md-6
                label.col-md-3.control-label.text-center(for="id") 序列号：
                .col-md-8
                    input.form-control(id="id" type="text"  ng-model="vm.community.id" disabled="disabled")
            .form-group.col-md-6
                label.col-md-3.control-label.text-center(for="code") 社区代码：
                .col-md-8
                    input.form-control(id="code" type="text" placeholder="请输入社区代码" ng-model="vm.community.code")
            .form-group.col-md-6
                label.col-md-3.control-label.text-center(for="name") 社区名称：
                .col-md-8
                    input.form-control(id="name" type="text" placeholder="请输入社区名称" ng-model="vm.community.name")
            .form-group.col-md-6
                label.col-md-3.control-label.text-center(for="police") 所属于警局：
                div.limit-width.col-md-8(id="police")
                    div.item-content
                        ui-select(ng-model="vm.policeAsync.selected" theme="bootstrap" on-select="vm.onSelectCallbackPolice($item)" title="请选择警局")
                            ui-select-match(placeholder="请选择警局") {{$select.selected.name || $select.selected}}
                            ui-select-choices(repeat="police.name as police in vm.policeAsync | propsFilter: {name: $select.search}")
                                div(ng-bind-html="police.name")
                                small
                                    | 警局名称：
                                    span(ng-bind-html="'' + police.name")
    .panel-footer
        button.btn.btn-primary.pull-right(type="button" ng-click= "vm.modifyCommunity()") 确认修改
        button.btn.btn-danger(type="button" ng-click= "vm.backToPrevious()") 返回上一级菜单
