//Created by yu on 2017/12/26.
.div(id="act-login-center")
    .block-center.mt-sm.login-center(ng-controller="LoginController as vm")
        .login-top
            img.img-responsive.login-top-img(ng-src="/park/app/img/xny.png" alt="长沙湘行智慧交通科技有限公司")
            div.top-div
                div(style="font-size: 27px;") 湘行天下信息管理平台
                div XXTX INFORMATION MANAGEMENT PLATEFORM
        .panel.act-box-shadow
            img.login-center-left(ng-src="/dadatest2/app/img/login_left.png")
            .login-center-right
                .div.text-center
                    .login-right-first 后台登录
                .div(style="padding: 0 20px;")
                    form.form-validate(role='form',ng-submit="vm.login()",name='loginForm',novalidate='').mb-lg
                        .form-group.has-feedback.login-btn
                            input.form-control.act-login-input-control.login-icon(type="text" name="username" placeholder='请输入账号' autocomplete="off" ng-model="vm.username" required)
                            span.fa.fa-user.form-control-feedback.text-muted
                            span.text-danger(ng-show="loginForm.username.$dirty&&loginForm.username.$error.required") 此项必填
                            span.text-danger(ng-show="loginForm.username.$dirty && loginForm.username.$error.email") 账号只能是数字或英文字符
                        .form-group.has-feedback.login-btn
                            input.form-control.act-login-input-control.login-icon(type="password" name="password" placeholder='请输入密码' ng-model="vm.password" required)
                            span.fa.fa-lock.form-control-feedback.text-muted
                            span.text-danger(ng-show="loginForm.password.$dirty && loginForm.password.$error.required") 此项必填
                        .clearfix(style="margin-top: 20px;")
                            .checkbox.c-checkbox.pull-left.mt0
                                label
                                    input(type='checkbox', value='false', name="account_remember", ng-model="account.remember")
                                    span.fa.fa-check
                                    |   记住密码
                            .pull-right
                                a.text-muted(ui-sref="page.recover") 忘记密码?
                        button.btn.btn-block.mt-lg.login-bac-clolr(type='submit') 立即登录
                        img(ng-if='dataLoading' src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==")
                    .alert.alert-danger.text-center(ng-show='authMsg') {{authMsg}}
.p-lg.text-center.login-bottom
    span &copy;
    span(ng-bind="app.year")
    span  -
    span(ng-bind="app.name")
    br
    span(ng-bind="app.description")
