
.md-welcome
  .md-welcome-msg
    .container.container-md
      h1.animated.fadeInDown.anim-delay-10 湘行天下
      h2.animated.fadeInLeft.anim-delay-15 城市智慧停车管理平台
  
.container.container-md(ng-controller="WelcomeController as vm")
  //p.lead.m0 湘行天下智慧停车管理平台包含以下功能
  //.row.md-welcome-row
  //  .col-md-4
  //    .card.animated.fadeInDown.anim-delay-20(md-ink-ripple)
  //      .card-body
  //        p.lead.text-bold 停车出入场记录管理
  //        | 实时查询停车场的车辆进出场记录
  //  .col-md-4
  //    .card.animated.fadeInDown.anim-delay-25(md-ink-ripple)
  //      .card-body
  //        p.lead.text-bold 停车场缴费记录及停车场账单
  //        | 一键查询停车场收费账单及详细记录
  //  .col-md-4
  //    .card.animated.fadeInDown.anim-delay-30(md-ink-ripple)
  //      .card-body
  //        p.lead.text-bold 停车场录入管理
  //        | 将未加入平台的停车场信息一键录入
  //h4 更多功能……工程师还在陆续的开放中
  //p.pv-lg.animated.fadeInUp.anim-delay-35
  //  button.btn.btn-primary.btn-lg(md-ink-ripple, type='button', ui-sref="app.matwidgets") 开始使用
  //div(style="height:300px;width:100%;")
  //  div(uib-carousel active="vm.active" interval='vm.myInterval' no-wrap='vm.noWrapSlides')
  //     div(uib-slide ng-repeat="slide in vm.slides" index="$index")
  //       img(ng-src="{{slide.image}}" style="margin:auto;width:100%;")
  //       div.carousel-caption
  //         h4  {{slide.id}}
  //div
  //   uib-carousel(active="vm.active" interval='vm.myInterval' no-wrap='vm.noWrapSlides')
  //      uib-slide(ng-repeat="slide in vm.slides" index="$index")
  //        img(ng-src="{{  slide.image }}" style="margin:auto;")
  //          div.carousel-caption
  //            h4 Slide {{slide.id}}
  //            p {{slide.text}}
